apiVersion: v1
kind: ConfigMap
metadata:
  name: config-pub-config
  namespace: jalapeno
data:
  config.yaml: |
    interval: 10m
    run_once: false
    kafka:
      brokers:
        - "broker.jalapeno:9092"
      topic: "gnmi-config"
      create_topic: true
      topic_partitions: 3
      topic_replication_factor: 1
    gnmi:
      dial_timeout: 10s
      request_timeout: 20s
      encoding: "json_ietf"
      type: "config"
      paths:
        - "/Cisco-IOS-XR-shellutil-cfg:host-names"
        - "/Cisco-IOS-XR-ifmgr-cfg:interface-configurations"
        - "/Cisco-IOS-XR-clns-isis-cfg:isis"
        - "/Cisco-IOS-XR-ipv4-bgp-cfg:bgp"
        - "/Cisco-IOS-XR-segment-routing-ms-cfg:sr"
    hosts:
      - name: "xrd01"
        address: "172.20.2.101:57400"
        target: "xrd01"
        insecure: true

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-pub
  namespace: jalapeno
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-pub
  template:
    metadata:
      labels:
        app: config-pub
    spec:
      containers:
        - name: config-pub
          image: docker.io/iejalapeno/config-pub:latest
          imagePullPolicy: IfNotPresent
          args:
            - "-config"
            - "/etc/config-pub/config.yaml"
          env:
            - name: GNMI_USERNAME
              valueFrom:
                secretKeyRef:
                  name: config-pub-gnmi
                  key: username
            - name: GNMI_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: config-pub-gnmi
                  key: password
          volumeMounts:
            - name: config
              mountPath: /etc/config-pub
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: config-pub-config
---
apiVersion: v1
kind: Secret
metadata:
  name: config-pub-gnmi
  namespace: jalapeno
type: Opaque
stringData:
  username: "cisco"
  password: "cisco123"

